extends layout

block content
	.mdl-layout.mdl-js-layout
		body(class="mdl-color--grey-100")
			.mdl-grid(id="main_grid")
				.mdl-cell.mdl-cell--12-col
					h2= title
					h6= "Cost of driving compared with realtime fare estimates from Uber."
				.mdl-grid.mdl-cell.mdl-cell--12-col.mdl-color--white.mdl-shadow--2dp(id="inputDiv")
					//form(action= '/result', method='POST')
					.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell--12-col
						input(class="mdl-textfield__input", type="text",  id="locationFromInput", name="from")
						label(class="mdl-textfield__label", for="locationFromInput") From
					.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell--12-col
						input(class="mdl-textfield__input", type="text",  id="locationToInput", name="to")
						label(class="mdl-textfield__label", for="locationToInput") To
					.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell--12-col
					button(class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect mdl-cell--12-col", id="submitButton") Submit
					.mdl-progress.mdl-js-progress.mdl-progress__indeterminate.mdl-cell--12-col(id="progressBar") 
				.mdl-grid.mdl-cell.mdl-cell--12-col.mdl-color--white.mdl-shadow--2dp(id="resultGrid")
					i(id="settings_icon", class="material-icons") settings
					.mdl-cell.mdl-cell--12-col(id="resultHeader")
						i(class="material-icons") place
						a ----------------------------------------------------------->
						i(class="material-icons") place
					.mdl-cell.mdl-cell--3-col(id="fromDiv")
					.mdl-cell.mdl-cell--6-col(id="resultDiv")
					.mdl-cell.mdl-cell--3-col(id="toDiv")
					.mdl-cell.mdl-cell--12-col
						hr
					.mdl-cell.mdl-cell--6-col(id="uberResultFrame")
						//h6(style="text-align:center;") 
							//strong UBER
						img(id="uberIcon", src="images/uber_Icon.png")
						div(id="uberResultSubDiv")
					.mdl-cell.mdl-cell--6-col(id="driveResultFrame")
						//h6(style="text-align:center;")
							//strong Driving
						img(id="driveIcon", src="images/driving_Icon.png")
						div(id="driveResultSubDiv")
						i(class="material-icons") local_gas_station
						span(id="fuel")
					button(class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect mdl-cell mdl-cell--4-col", id="backButton")
						i(class="material-icons") arrow_back
						| Back
				.mdl-cell.mdl-cell--12-col.mdl-color--white.mdl-shadow--2dp(id="mgbrgbr")
					iframe(id="routeMap", width="100%", height="400", src="", frameborder="0")
				.mdl-cell.mdl-cell--12-col
					footer(class="mdl-mini-footer")
						.mdl-mini-footer__left-section
							.mdl-logo
								a(href='/') uberordrive.com
							ul.mdl-mini-footer__link-list
								li
									a(href='/faq') FAQ
		
	
		script(type='text/javascript', src='/javascripts/index.js')
		script(type='text/javascript', src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnfJIBZj1_q75mLz20h-tSft1gl5SeXFs&libraries=places&callback=initAutocomplete", async, defer)
		
		
		