body {
  font-family: 'Open Sans', sans-serif;
  /* background: linear-gradient(90deg, #696969 10%, #ADADAD 90%); */
}



a {
  color: #660099;
}

#main_grid {
	max-width:600px;
}

#inputDiv, #resultGrid, #map_container, #co_resultGrid{
	padding:10px;
}

#progressBar, #co_progressBar{
	margin-top:10px;
}

#resultHeader, #resultDiv{
	text-align:center;
	padding-top:20px;
}

#resultHeader{
	padding-top:20px;
}

#uberResultFrame{
	border-right: dashed #828282;
	border-right-width: 1px;
	margin-right: 0;

	float:right;
}

#driveResultFrame{
	margin-left: 0;
	float:left;
	text-align:center;
}

#driveIcon, #uberIcon, #co_driveIcon, #co_uberIcon{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width:40%;
	max-height:40%;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	opacity: 0.2;
}

#routeMap{
	display:block;
	margin: 0  auto;
}

#fromDiv, #toDiv {
    color: #666666;
}

.material-icons{
	vertical-align: middle;
}

#time-icon{
	font-size: 18px;
}

#settings_icon{
    position: absolute;
    top: 2px;
    right: 2px;
	opacity: 0.7;
}

#resultGrid, #co_resultGrid{
  position:relative;
}

#arrow-stem {
	background: transparent;
    width: 60%;
    height: 15px;
	border-bottom: 10px solid     black;
		opacity: 0.7;
}

#arrow-head {
	border-top: 20px solid transparent;
	border-left: 100px solid black;
	border-bottom: 20px solid transparent;
	float: left;
	opacity: 0.7;
	}
	
.mdl-radio{
	width:100%;
}
.mdl-radio__label{
	font-size: 12px;
	
}

#small-car-icon{
	font-size: 18px;
}
#medium-car-icon{
	font-size: 22px;
}
#large-car-icon{
	font-size: 26px;
}

#car_select{
	margin-top:0;
}

.mdl-snackbar {
  will-change: unset;
}

#locateme {
		position: absolute;
		right: 10px;
		top: 15px;
		float: right;
		opacity: 0.7;
	}

/* Hide 'powered by google' in address autocomplete dropdown*/
.pac-container:after {
    /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */
    background-image: none !important;
    height: 0px;
}

.subheading{
    position: relative;
	display:block;	
	opacity:0.7;
	white-space:nowrap;
	font-size:12px;
	/* color:#3f51b5;*/
}

.center-stuff {
  align-items: center;
  justify-content: center;
  
}

.icon-flipped {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}