
body {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #00B7FF;
}

#main_grid {
	max-width:600px;
}

#inputDiv, #resultGrid, #mgbrgbr{
	padding:10px;
}

#progressBar{
	margin-top:10px;
}

#resultHeader, #resultDiv{
	text-align:center;
}

#uberResultFrame{
	border-right: dashed #828282;
	border-right-width: 1px;
	margin: 0;
	padding:10px;
	float:right;
}

#driveResultFrame{
	margin: 0;
	padding:10px;
	float:left;
	text-align:center;
}

#driveIcon, #uberIcon{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width:40%;
	max-height:40%;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	opacity: 0.2;
}

#routeMap{
	display:block;
	margin: 0  auto;
}

#fromDiv, #toDiv {
    color: #666666;
}

.material-icons{
	vertical-align: middle;
}

#time-icon{
	font-size: 18px;
}

#settings_icon{
    position: absolute;
    top: 2px;
    right: 2px;
	opacity: 0.7;
}

#resultGrid{
  position:relative;
}

#arrow-stem {
	background: transparent;
    width: 60%;
    height: 15px;
	border-bottom: 10px solid     black;
		opacity: 0.7;
}

#arrow-head {
	border-top: 20px solid transparent;
	border-left: 100px solid black;
	border-bottom: 20px solid transparent;
	float: left;
	opacity: 0.7;
	}